.gridControls {
  grid-column: span var(--columns);
  margin-top: 0.25rem;
  margin-bottom: 0.75rem;
  display: grid;
  grid-template-columns: 1fr max-content;
  align-items: center;
  gap: var(--gap);
}

.gridWrapper {
  --columns: 4;
  display: grid;
  grid-template-columns: repeat(calc(var(--columns) - 2), 1fr) repeat(
      2,
      min-content
    );
  gap: 0.2rem 0.1rem;
}
