:root {
  --primary-color: black;
  --positive-color: rgb(122, 224, 122);
  --negative-color: rgb(246, 121, 121);
  --highlight-color: rgb(69, 173, 208);
  --header-font-size: 2rem;
  --footer-font-size: var(--header-font-size);
  --primary-background: white;
  --secondary-background: rgb(228, 228, 228);
  --tertiary-background: rgb(193, 193, 193);
  --quartenary-backgroud: rgb(159, 159, 159);
  --highlight-background: rgb(215, 234, 241);
  --positive-background: rgb(225, 252, 225);
  --negative-background: rgb(252, 213, 213);
  --header-height: 2.2rem;
  --footer-height: var(--header-height);
  --used-width: 80rem;
  --border-radius: 0.5rem;
  --gap: 0.5rem;

  @media (0px <= width < 700px) {
    --header-font-size: 1.5rem;
    --header-height: 1.7rem;
  }
}

html,
body {
  height: 100dvh;
  width: 100dvw;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: var(--primary-color);
  background-color: var(--primary-background);
}

app-root {
  max-width: var(--used-width);
  margin: auto;
  padding: 0.5rem;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
