.form {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.errorDetail {
  margin: 0;
  color: var(--negative-color);
  font-weight: 600;
  background-color: var(--negative-background);
  padding: 0.25rem 0.5rem;
  border: 2px solid var(--negative-color);
  border-radius: var(--border-radius);
}

.buttonsWrapper {
  display: flex;
  gap: 0.5rem;
}

.deleteButton,
.cancelButton {
  flex: 1;
  height: 2rem;
}

.deleteButton {
  color: var(--positive-color);

  &:hover,
  &:focus {
    color: var(--positive-background);
  }
}

.cancelButton {
  color: var(--negative-color);

  &:hover,
  &:focus {
    color: var(--negative-background);
  }
}
