.edit-ingredient {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  width: 20rem;
  max-width: 100%;

  & .ingredient-form {
    display: grid;
    grid-template-columns: min-content 1fr;
    gap: var(--gap);
  }

  & .field {
    grid-column: span 2;
    display: grid;
    grid-template-columns: subgrid;
    align-items: center;

    > label {
      font-weight: bold;

      &::after {
        content: ":";
      }
    }
  }

  & .input-wrapper.number {
    display: grid;
    grid-template-columns: 1fr min-content;
    gap: var(--gap);
  }

  & .buttons-wrapper {
    height: 1.7rem;
  }
}
