header {
  flex: 0 0 var(--header-height);
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & img {
    height: var(--header-font-size);
  }

  & .hidden {
    visibility: hidden;
  }
}

h1 {
  margin: 0;
  font-size: var(--header-font-size);
}
