.popupWrapper {
  display: flex;
  flex-direction: column;
  gap: calc(2 * var(--gap));
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--gap);
}

.headline {
  margin: 0;
  font-size: var(--header-font-size);
  font-weight: 600;
}

.close {
  height: var(--header-font-size);

  &:focus,
  &:hover {
    color: red;
    transform: scale(1.15);
    transition: transform 0.25s ease-out;
  }
}
