.search {
  min-width: 0;
  border-bottom: 2px solid var(--primary-color);
  padding: 0.15rem 0.25rem;
  box-sizing: border-box;
  display: flex;
  align-items: flex-end;

  &:focus-within {
    border-color: transparent;
    outline: 2px solid var(--highlight-color);
    border-radius: var(--border-radius);
  }
}

.searchField {
  flex: 1;
  padding: 0;
  border: none;
  font: inherit;
  min-width: 0;

  &:focus {
    outline: none;
  }
}

.magnify {
  object-fit: contain;
  height: 1rem;
}
