.meta-fields-wrapper {
  display: flex;
  flex-direction: column;
}

.amounts-mat-step,
.preparation-mat-step {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.amounts-wrapper,
.steps-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  &:empty {
    display: none;
  }
}

.amount-wrapper,
.step-wrapper {
  display: flex;
  gap: 0.5rem;
}

.amount-expansion-panel,
.step-expansion-panel {
  flex: 1;
}

.amount-fields-wrapper,
.step-fields-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0 0.5rem;
}

.ingredient-field,
.description-field {
  flex: 1;
}

.amounts-array-buttons-wrapper {
  display: flex;
  justify-content: stretch;
  gap: 0.5rem;
}

.add-amount-button {
  flex: 1 0 50%;
}

.button-wrapper {
  display: grid;
  justify-content: center;
  align-items: center;
}

.button {
  font-size: 1.5rem;

  &:focus,
  &:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
  }
}
