<form
  action="PUT"
  class="form"
  [formGroup]="recipeForm"
  (onSubmit)="onSubmit()"
>
  <section class="meta-fields-wrapper">
    <label for="name" class="field-label">Name</label>
    <input type="text" name="name" id="name" formControlName="name" />
    <!-- <label for="image" class="field-label">Bild</label>
    <input
      type="file"
      name="image"
      id="image"
      (change)="onUpload($event, 'image')"
    />
    <label for="original" class="field-label">Original</label>
    <input
      type="file"
      name="original"
      id="original"
      (change)="onUpload($event, 'original')"
    /> -->
    <label for="originUrl" class="field-label">URL</label>
    <input
      type="text"
      name="originUrl"
      id="originUrl"
      formControlName="originUrl"
    />
    <label for="originName" class="field-label">Ersteller*in</label>
    <input
      type="text"
      name="originName"
      id="originName"
      formControlName="originName"
    />
  </section>

  <section>
    <header>
      <h2>Zutaten</h2>
      <input type="number" formControlName="servings" />
      <p>Portionen</p>
    </header>

    <div formArrayName="amounts">
      @for(amount of amounts.controls; track amount){
      <div class="amount-fields-wrapper" formGroupName="{{ $index }}">
        <button (click)="removeAmount($index)">Löschen</button>
        <input type="number" name="index" id="index" formControlName="index" />
        <select
          name="ingredient"
          id="ingredient"
          formControlName="ingredientId"
          (change)="onIngredientSelect($event, $index)"
        >
          <option disabled selected></option>
          @for(ingredient of ingredients(); track ingredient.id){
          <option value="{{ ingredient.id }}">{{ ingredient.name }}</option>
          }
        </select>
        <input
          type="number"
          name="amount"
          id="amount"
          formControlName="amount"
        />
        <p>unit</p>
      </div>
      }
      <button (click)="addAmount()">Hinzufügen</button>
      <button (click)="openCreateIngredientDialog()">Zutat erstellen</button>
    </div>
  </section>

  <section>
    <header>
      <h2>Zubereitung</h2>
      <input type="number" formControlName="preptime" />
      <p>min</p>
    </header>

    <div formArrayName="steps">
      @for(step of steps.controls; track step){
      <div formGroupName="{{ $index }}" class="step-fields-wrapper">
        <button (click)="removeStep($index)">Löschen</button>
        <input type="number" name="index" id="index" formControlName="index" />
        <input
          type="text"
          name="step"
          id="step"
          formControlName="description"
        />
      </div>
      }
      <button (click)="addStep()">Hinzufügen</button>
    </div>
  </section>

  <button type="submit" [disabled]="!recipeForm.valid" (click)="onSubmit()">
    Submit
  </button>
</form>
