.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.meta-fields-wrapper {
  display: grid;
  grid-template-columns: min-content 1fr;
}

.amount-fields-wrapper {
  display: grid;
  grid-template-columns: min-content min-content 1fr min-content min-content;
}

.step-fields-wrapper {
  display: grid;
  grid-template-columns: min-content min-content 1fr;
}

.field-label {
  &::after {
    content: ":";
  }
}

header {
  display: flex;
}

h2,
p {
  margin: 0;
}
