<form
  action="PUT"
  class="form"
  [formGroup]="recipeForm"
  (onSubmit)="onSubmit()"
>
  <section class="meta-fields-wrapper">
    <div class="field">
      <label
        for="name"
        class="field-label"
        [class.required]="recipeForm.get('name')?.errors?.['required']"
        >Name</label
      >
      <input
        type="text"
        name="name"
        class="field-input input-text"
        id="name"
        formControlName="name"
      />
    </div>

    <!-- <div class="field">
      <label
        for="image"
        class="field-label"
        [class.required]="recipeForm.get('image')?.errors?.['required']"
        >Bild</label
      >
      <input
        type="file"
        name="image"
        id="image"
        (change)="onUpload($event, 'image')"
      />
    </div> -->

    <!-- <div class="field">
      <label
        for="original"
        class="field-label"
        [class.required]="recipeForm.get('original')?.errors?.['required']"
        >Original</label
      >
      <input
        type="file"
        name="original"
        id="original"
        (change)="onUpload($event, 'original')"
      />
    </div> -->

    <div class="field">
      <label
        for="originUrl"
        class="field-label"
        [class.required]="recipeForm.get('originUrl')?.errors?.['required']"
        >URL</label
      >
      <input
        type="text"
        name="originUrl"
        class="field-input input-text"
        id="originUrl"
        formControlName="originUrl"
      />
    </div>

    <div class="field">
      <label
        for="originName"
        class="field-label"
        [class.required]="recipeForm.get('originName')?.errors?.['required']"
        >Ersteller*in</label
      >
      <input
        type="text"
        name="originName"
        class="field-input input-text"
        id="originName"
        formControlName="originName"
      />
    </div>
  </section>

  <section>
    <header>
      <h2>Zutaten</h2>
      <input
        type="number"
        class="field-input input-number"
        formControlName="servings"
      />
      <p>Portionen</p>
    </header>

    <div formArrayName="amounts">
      @for(amount of amounts.controls; track amount){
      <div class="amount-fields-wrapper" formGroupName="{{ $index }}">
        <button (click)="removeAmount($index)">Löschen</button>
        <input
          type="number"
          name="index"
          class="field-input input-number"
          id="index"
          formControlName="index"
        />
        <select
          name="ingredient"
          id="ingredient"
          formControlName="ingredientId"
          (change)="onIngredientSelect($event, $index)"
        >
          <option disabled selected></option>
          @for(ingredient of ingredients(); track ingredient.id){
          <option value="{{ ingredient.id }}">{{ ingredient.name }}</option>
          }
        </select>
        <input
          type="number"
          name="amount"
          class="field-input input-number"
          id="amount"
          formControlName="amount"
        />
        <p>unit</p>
      </div>
      }
      <button (click)="addAmount()">Hinzufügen</button>
      <button (click)="openCreateIngredientDialog()">Zutat erstellen</button>
    </div>
  </section>

  <section>
    <header>
      <h2>Zubereitung</h2>
      <input
        type="number"
        class="field-input input-number"
        formControlName="preptime"
      />
      <p>min</p>
    </header>

    <div formArrayName="steps">
      @for(step of steps.controls; track step){
      <div formGroupName="{{ $index }}" class="step-fields-wrapper">
        <button (click)="removeStep($index)">Löschen</button>
        <input
          type="number"
          name="index"
          class="field-input input-number"
          id="index"
          formControlName="index"
        />
        <input
          type="text"
          name="step"
          class="field-input input-text"
          id="step"
          formControlName="description"
        />
      </div>
      }
      <button (click)="addStep()">Hinzufügen</button>
    </div>
  </section>

  <button type="submit" [disabled]="!recipeForm.valid" (click)="onSubmit()">
    Submit
  </button>
</form>
