.footer {
  flex: 0 0 var(--footer-height);
  padding: calc(var(--gap) / 2);
  box-sizing: border-box;
}

.footerContent {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: var(--used-width);
  max-width: 100%;
  margin: 0 auto;
}

.button {
  height: var(--footer-font-size);

  &:focus,
  &:hover {
    transform: scale(1.15);
    transition: transform 0.25s ease-out;
  }
}
