.gridWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.gridControls {
  margin-top: 0.25rem;
  margin-bottom: 0.75rem;
}

.placeholder {
  margin: 0;
  padding: 0.15rem 0.25rem;
  background-color: var(--secondary-background);
  border-radius: var(--border-radius);
}

.recipesWrapper {
  --columns: 3;
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  gap: var(--gap);

  @media (max-width: 600px) {
    --columns: 2;
  }
}
