.ingredientsGridRow {
  grid-column: span var(--columns);
  display: grid;
  grid-template-columns: subgrid;
  align-items: center;
}

.editButton,
.deleteButton {
  height: 1rem;

  &:focus,
  &:hover {
    transform: scale(1.25);
    transition: transform 0.25s ease-out;
  }
}

.deleteButton {
  &:hover,
  &:focus {
    color: red;
  }
}
