.ingredientsGridBody {
  grid-column: span var(--columns);
  display: grid;
  grid-template-columns: subgrid;
  gap: inherit;
}

.placeholder {
  grid-column: span var(--columns);
  margin: 0;
  padding: 0.15rem 0.25rem;
  background-color: var(--secondary-background);
  border-radius: var(--border-radius);
}
