.gridWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.recipesWrapper {
  --columns: 3;
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  gap: var(--gap);

  @media (max-width: 600px) {
    --columns: 2;
  }
}
