.ingredients {
  display: flex;
  flex-direction: column;
  gap: var(--gap);

  .placeholder {
    --padding-vertical: 0.25rem;
    --padding-horizontal: 0.75rem;
    margin: 0;
    padding: var(--padding-vertical) var(--padding-horizontal);
    background-color: var(--secondary-background);
    border-radius: calc(1rem + var(--padding-vertical));
  }
}
