.ingredientsGridHeader {
  grid-column: span var(--columns);
  display: grid;
  grid-template-columns: subgrid;
}

.headerField {
  --padding-horizontal: 0.5rem;
  --padding-vertical: 0.25rem;
  padding: var(--padding-vertical) var(--padding-horizontal);
  background-color: var(--tertiary-background);
  border-radius: calc(1rem + 2 * var(--padding-vertical));
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap);
}

.columnName {
  margin: 0;
}

.sort {
  object-fit: contain;
  height: 1rem;
}

.sortPlaceholder {
  visibility: hidden;
}
