.button {
  padding: 0;
  box-sizing: border-box;
  aspect-ratio: 1;
  border-radius: var(--border-radius);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &:focus,
  &:hover {
    outline: none;
  }

  &.neutral {
    border: none;
    background-color: transparent;

    &:focus,
    &:hover {
      > * {
        transform: scale(1.15);
        transition: transform 0.25s ease-out;
      }
    }

    > * {
      padding: 0;
    }
  }

  &.positive {
    border: 2px solid var(--positive-color);
    background-color: var(--positive-background);

    &:focus,
    &:hover {
      background-color: var(--positive-color);
      transition: background-color 0.25s ease-out;
    }
  }

  &.negative {
    border: 2px solid var(--negative-color);
    background-color: var(--negative-background);

    &:focus,
    &:hover {
      background-color: var(--negative-color);
      transition: background-color 0.25s ease-out;
    }
  }
}

.svg,
.png {
  height: 100% !important;
  width: 100% !important;
  color: inherit;
}
