.label::after {
  content: ":";
}

.fieldAndErrors {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.error {
  margin: 0;
  color: var(--negative-color);
  font-weight: 600;
  background-color: var(--negative-background);
  padding: 0.25rem 0.5rem;
  border: 2px solid var(--negative-color);
  border-radius: var(--border-radius);
}
