.navWrapper {
  display: flex;
  gap: var(--gap);
}

.buttonWrapper {
  flex: 1;
  padding: 1.5rem;
  box-sizing: border-box;
  background-color: var(--secondary-background);
  border-radius: 2rem;
  aspect-ratio: 1;
  display: grid;
  place-items: center;
}

.button {
  &:focus,
  &:hover {
    transform: scale(1.05);
    transition: transform 0.25s ease-out;
  }
}
