<form
  action="POST"
  class="ingredient-form"
  [formGroup]="ingredientForm"
  (ngSubmit)="onSubmit(ingredientForm.value)"
>
  <label for="name">{{ metaData?.verbose_names?.name }}</label>
  <input
    type="text"
    name="name"
    placeholder="{{ metaData?.verbose_names?.name }}"
    formControlName="name"
  />

  <label for="brand">{{ metaData?.verbose_names?.brand }}</label>
  <input
    type="text"
    name="brand"
    placeholder="{{ metaData?.verbose_names?.brand }}"
    formControlName="brand"
  />

  <label for="unit">{{ metaData?.verbose_names?.unit }}</label>
  <select name="unit" formControlName="unit">
    @if(metaData !== null){ @for(choice of metaData.choices.unit; track
    choice.value){
    <option value="{{ choice.value }}">{{ choice.label }}</option>
    }}
  </select>

  <label for="kcal">{{ metaData?.verbose_names?.kcal }}</label>
  <input
    type="number"
    name="kcal"
    placeholder="Kalorien"
    formControlName="kcal"
  />

  <label for="makros">Makros</label>
  <div name="makros" formGroupName="makros">
    <label for="carbs">{{ metaData?.verbose_names?.carbs }}</label>
    <input
      type="number"
      name="carbs"
      placeholder="{{ metaData?.verbose_names?.carbs }}"
      formControlName="carbs"
    />

    <label for="protein">{{ metaData?.verbose_names?.protein }}</label>
    <input
      type="number"
      name="protein"
      placeholder="{{ metaData?.verbose_names?.protein }}"
      formControlName="protein"
    />

    <label for="fat">{{ metaData?.verbose_names?.fat }}</label>
    <input
      type="number"
      name="fat"
      placeholder="{{ metaData?.verbose_names?.fat }}"
      formControlName="fat"
    />
  </div>
  <button type="submit" [disabled]="!ingredientForm.valid">Submit</button>
</form>
