<form class="form">
  <mat-form-field class="search-field">
    <mat-label>Suche</mat-label>
    <input
      placeholder="Name oder Ersteller*in suchen ..."
      [formControl]="searchControl"
      matInput
      [matAutocomplete]="search"
    />
    @if(searchControl.value){
    <button
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="searchControl.setValue('')"
    >
      <mat-icon>close</mat-icon>
    </button>
    }
    <mat-autocomplete #search="matAutocomplete">
      @for (nameOrOrigin of filteredNamesAndOrigins(); track nameOrOrigin) {
      <mat-option [value]="nameOrOrigin">{{ nameOrOrigin }}</mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>
</form>
