<app-ingredients-grid-controls [ingredients]="displayedIngredients" />

<section class="grid" [style.--fields]="displayedFields().length">
  <app-ingredients-grid-header [displayedFields]="displayedFields" />

  @for (ingredient of displayedIngredients(); track ingredient){
  <app-ingredients-grid-row
    [ingredient]="ingredient"
    [displayedFields]="displayedFields()"
  />
  }@empty {
  <p>Keine Zutaten gefunden</p>
  }
</section>

<div class="button-wrapper">
  <mat-icon
    aria-hidden="false"
    aria-label="Hinzufügen"
    fontIcon="add"
    (click)="openCreateIngredientDialog()"
  ></mat-icon>
</div>
