.ingredients {
  & .ingredients-grid {
    --ingredient-columns: 6;
    --buttons-columns: 2;
    --columns: calc(var(--ingredient-columns) + var(--buttons-columns));
    display: grid;
    grid-template-columns:
      repeat(calc(var(--ingredient-columns)), auto)
      repeat(calc(var(--buttons-columns)), min-content);
    gap: 0.2rem 0.1rem;
  }

  & .ingredients-wrapper {
    grid-column: span var(--columns);
    display: grid;
    grid-template-columns: subgrid;
    gap: inherit;
  }

  & .header-wrapper,
  & .ingredient-wrapper {
    --padding-vertical: 0.25rem;
    --padding-horizontal: 0.75rem;
    grid-column: span var(--columns);
    display: grid;
    grid-template-columns: subgrid;
    align-items: center;
  }

  & .header-wrapper {
    position: sticky;
    top: 0;
    background-image: linear-gradient(
      var(--primary-background),
      var(--primary-background),
      transparent
    );
    padding-bottom: 0.25rem;
  }

  & .header,
  & .ingredient {
    grid-column: span var(--ingredient-columns);
    display: grid;
    grid-template-columns: subgrid;

    > span {
      padding: var(--padding-vertical) var(--padding-horizontal);
      border-radius: calc(1rem + var(--padding-vertical));
    }
  }

  & .header {
    > span {
      font-weight: bold;
      background-color: var(--quartenary-backgroud);
      cursor: pointer;
    }
  }

  & .ingredient {
    > span {
      background-color: var(--secondary-background);
    }
  }

  & .buttons-wrapper {
    grid-column: span var(--buttons-columns);
    display: grid;
    grid-template-columns: subgrid;

    > * {
      height: calc(1rem + var(--padding-vertical));
    }
  }

  @media (0 < width < 75rem) {
    & .ingredients-grid {
      --ingredient-columns: 2;
    }

    & .header,
    & .ingredient {
      > span.makro {
        display: none;
      }
    }
  }
}
