.form {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.fieldsWrapper {
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 1rem;
}

.buttonsWrapper {
  display: flex;
  gap: 0.5rem;
}

.saveButton,
.cancelButton {
  flex: 1;
  height: 2rem;
}
