.field {
  grid-column: span 2;
  display: grid;
  grid-template-columns: subgrid;
  align-items: flex-start;

  > label {
    font-weight: bold;

    &::after {
      content: ":";
    }
  }

  & .input-and-field-error-wrapper {
    display: flex;
    flex-direction: column;
    gap: calc(var(--gap) / 4);
  }

  & .field-error {
    background-color: var(--negative-background);
    border: 2px solid var(--negative-color);
    border-radius: 0.25rem;
    padding: 0 0.25rem;
    box-sizing: border-box;
    width: 100%;
  }

  & .input-wrapper.number {
    display: grid;
    grid-template-columns: 1fr min-content;
    gap: var(--gap);
  }
}
