/* & input,
& select {
  border: none;
  border-bottom: 1px solid var(--primary-color);
  padding: 0.1rem 0.25rem;
  box-sizing: border-box;
  width: 100%;
  overflow: auto;
  background-color: inherit;
  font: inherit;

  &:focus {
    background-color: var(--highlight-background);
    outline: 2px solid var(--highlight-color);
    border-radius: var(--border-radius);
    border-color: transparent;
    transition: background-color 0.25s ease-out, outline 0.25s ease-out,
      border-color 0.25s ease-out;
  }
} */
