.edit-ingredient {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  width: 20rem;
  max-width: 100%;

  & .ingredient-form {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
  }

  & .fields-wrapper {
    display: grid;
    grid-template-columns: min-content 1fr;
    gap: var(--gap);
  }

  & .buttons-wrapper {
    height: 1.7rem;
  }

  & .non-field-errors-wrapper {
    display: flex;
    flex-direction: column;
    gap: calc(var(--gap) / 4);
  }

  & .non-field-error {
    background-color: var(--negative-background);
    border: 2px solid var(--negative-color);
    border-radius: 0.25rem;
    padding: 0.25rem 0.5rem;
    box-sizing: border-box;
    width: 100%;
  }
}
