@if(recipe !== null){
<!-- replace check for existence of recipe with loading -->
<!-- @if(recipe.image){
<img [src]="recipe.image" class="image" />} @else { -->
<img src="../../assets/icons/hide_image.svg" class="no-image" />
<!-- } -->

<app-amounts-grid [recipe]="recipe" />
<app-steps-grid [recipe]="recipe" />

<div class="buttons-wrapper">
  <mat-icon
    aria-hidden="false"
    aria-label="edit icon"
    fontIcon="edit"
    class="button edit"
    (click)="openPatchRecipeDialog()"
  ></mat-icon>
  <mat-icon
    aria-hidden="false"
    aria-label="delete icon"
    fontIcon="delete"
    class="button delete"
    (click)="openDeleteRecipeDialog()"
  ></mat-icon>
</div>
}@else {
<p>Rezept nicht gefunden</p>
}
