:root {
  --primary-font-color: black;
  --header-font-size: 2rem;
  --footer-font-size: var(--header-font-size);
  --primary-background: grey;
  --secondary-background: rgb(228, 228, 228);
  --header-height: 2.2rem;
  --footer-height: var(--header-height);
  --gap: 1rem;
}

html {
  font-family: "Untitled Sans", Arial, Helvetica, sans-serif;
  color: var(--primary-font-color);
}

.root {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  background-color: var(--primary-background);
}

main {
  flex: 1 0 0;
  overflow-y: auto;
  width: 100dvw;
}
