:root {
  --primary-font-color: black;
  --header-font-size: 2rem;
  --footer-font-size: var(--header-font-size);
  --primary-background: white;
  --header-height: 2.2rem;
  --footer-height: var(--header-height);
}

html {
  font-family: "Untitled Sans", Arial, Helvetica, sans-serif;
  color: var(--primary-font-color);
}

.root {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  background-color: var(--primary-background);
}

.content {
  flex: 1 0 0;
}
