:root {
  --primary-color: black;
  --positive-color: lightgreen;
  --negative-color: rgb(255, 141, 141);
  --highlight-color: rgb(69, 173, 208);
  --header-font-size: 2rem;
  --footer-font-size: var(--header-font-size);
  --primary-background: white;
  --secondary-background: rgb(228, 228, 228);
  --tertiary-background: rgb(193, 193, 193);
  --quartenary-backgroud: rgb(159, 159, 159);
  --highlight-background: lightblue;
  --positive-background: rgb(221, 255, 221);
  --negative-background: rgb(255, 201, 201);
  --header-height: 2.2rem;
  --footer-height: var(--header-height);
  --gap: 1rem;
}

html {
  font-family: "Untitled Sans", Arial, Helvetica, sans-serif;
  color: var(--primary-color);
}

.root {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  background-color: var(--primary-background);
}

main {
  flex: 1 0 0;
  overflow-y: auto;
  width: 100dvw;
}
