.header {
  flex: 0 0 var(--header-height);
}

.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: var(--used-width);
  max-width: 100%;
  margin: 0 auto;
  padding: calc(var(--gap) / 2);
  box-sizing: border-box;
}

.button {
  height: var(--header-font-size);

  &:focus,
  &:hover {
    transform: scale(1.15);
    transition: transform 0.25s ease-out;
  }
}

.hidden {
  visibility: hidden;
}

.h1 {
  margin: 0;
  font-size: var(--header-font-size);
  font-weight: 600;
}
