header {
  flex: 0 0 var(--header-height);
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: var(--used-width);
  max-width: 100%;
  margin: 0 auto;
  padding: calc(var(--gap) / 2);
  box-sizing: border-box;

  & img {
    height: var(--header-font-size);
  }

  & .hidden {
    visibility: hidden;
  }
}

h1 {
  margin: 0;
  font-size: var(--header-font-size);
  font-weight: 600;
}
