<form
  action="PUT"
  class="ingredient-form"
  [formGroup]="ingredientForm"
  (ngSubmit)="onSubmit(ingredientForm.value)"
>
  <label for="name" class="field-label">{{ verboseNames?.name }}</label>
  <input
    type="text"
    name="name"
    placeholder="{{ verboseNames?.name }}"
    formControlName="name"
  />

  <label for="brand" class="field-label">{{ verboseNames?.brand }}</label>
  <input
    type="text"
    name="brand"
    placeholder="{{ verboseNames?.brand }}"
    formControlName="brand"
  />

  <label for="unit" class="field-label">{{ verboseNames?.unit }}</label>
  <select name="unit" formControlName="unit">
    @if(unitChoices){ @for(choice of getKeys(unitChoices); track choice){
    <option value="{{ choice }}">{{ unitChoices[choice] }}</option>
    }}
  </select>

  <label for="kcal" class="field-label">{{ verboseNames?.kcal }}</label>
  <input
    type="number"
    name="kcal"
    placeholder="Kalorien"
    formControlName="kcal"
  />

  <label for="carbs" class="field-label">{{ verboseNames?.carbs }}</label>
  <input
    type="number"
    name="carbs"
    placeholder="{{ verboseNames?.carbs }}"
    formControlName="carbs"
  />

  <label for="protein" class="field-label">{{ verboseNames?.protein }}</label>
  <input
    type="number"
    name="protein"
    placeholder="{{ verboseNames?.protein }}"
    formControlName="protein"
  />

  <label for="fat" class="field-label">{{ verboseNames?.fat }}</label>
  <input
    type="number"
    name="fat"
    placeholder="{{ verboseNames?.fat }}"
    formControlName="fat"
  />
  <button type="submit" [disabled]="!ingredientForm.valid">Submit</button>
</form>
