<form [formGroup]="recipeForm" action="POST" class="form">
  <mat-stepper #stepper>
    <mat-step formGroupName="metaFormGroup" errorMessage="">
      <div class="meta-fields-wrapper">
        <mat-form-field appearance="fill">
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" />
        </mat-form-field>

        <!-- <div class="field">
        <label
          for="image"
          class="field-label"
          [class.required]="recipeForm.get('image')?.errors?.['required']"
          >Bild</label
        >
        <input
          type="file"
          name="image"
          id="image"
          (change)="onUpload($event, 'image')"
        />
      </div> -->

        <!-- <div class="field">
        <label
        for="original"
        class="field-label"
        [class.required]="recipeForm.get('original')?.errors?.['required']"
        >Original</label
        >
        <input
        type="file"
        name="original"
        id="original"
        (change)="onUpload($event, 'original')"
        />
      </div> -->

        <mat-form-field appearance="fill">
          <mat-label>URL</mat-label>
          <input matInput formControlName="originUrl" />
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Ersteller*in</mat-label>
          <input matInput formControlName="originName" />
        </mat-form-field>
      </div>
    </mat-step>

    <mat-step formGroupName="amountsFormGroup" errorMessage="">
      <div class="amounts-mat-step">
        <mat-form-field appearance="fill">
          <mat-label>Portionen</mat-label>
          <input matInput type="number" formControlName="servings" />
        </mat-form-field>

        <div class="amounts-wrapper" formArrayName="amounts">
          @for(amount of amounts.controls; track amount){
          <div class="amount-wrapper" formGroupName="{{ $index }}">
            <div class="button-wrapper">
              <mat-icon
                aria-hidden="false"
                aria-label="Löschen"
                fontIcon="close"
                (click)="removeAmount($index)"
              ></mat-icon>
            </div>

            <mat-expansion-panel class="amount-expansion-panel">
              <mat-expansion-panel-header>
                <mat-panel-title> Zutat </mat-panel-title>
              </mat-expansion-panel-header>

              <div class="amount-fields-wrapper">
                <mat-form-field appearance="fill" class="ingredient-field">
                  <mat-label>Zutat</mat-label>
                  <mat-select formControlName="ingredientId" single>
                    <mat-option disabled selected></mat-option>
                    @for(ingredient of ingredients(); track ingredient.id) {
                    <mat-option [value]="ingredient.id">{{
                      ingredient.name
                    }}</mat-option
                    >}
                  </mat-select>
                </mat-form-field>

                <mat-form-field appearance="fill">
                  <mat-label>Menge</mat-label>
                  <input matInput type="number" formControlName="amount" />
                </mat-form-field>
              </div>
            </mat-expansion-panel>
          </div>
          }
        </div>

        <div class="amounts-array-buttons-wrapper">
          <button
            mat-stroked-button
            color="accent"
            (click)="addAmount()"
            class="add-amount-button"
          >
            Zutat hinzufügen
          </button>
          <button
            mat-stroked-button
            color="accent"
            (click)="openCreateIngredientDialog()"
          >
            Zutat erstellen
          </button>
        </div>
      </div>
    </mat-step>

    <mat-step formGroupName="preparationFormGroup" errorMessage="">
      <div class="preparation-mat-step">
        <mat-form-field appearance="fill">
          <mat-label>Zubereitungszeit</mat-label>
          <input matInput type="number" formControlName="preptime" />
        </mat-form-field>

        <div class="steps-wrapper" formArrayName="steps">
          @for(step of steps.controls; track step){
          <div class="step-wrapper" formGroupName="{{ $index }}">
            <div class="button-wrapper">
              <mat-icon
                aria-hidden="false"
                aria-label="Löschen"
                fontIcon="close"
                (click)="removeStep($index)"
              ></mat-icon>
            </div>

            <mat-form-field appearance="fill" class="description-field">
              <mat-label>Beschreibung</mat-label>
              <input matInput formControlName="description" />
            </mat-form-field>
          </div>
          }
        </div>

        <button mat-stroked-button color="accent" (click)="addStep()">
          Hinzufügen
        </button>
      </div>
    </mat-step>
  </mat-stepper>

  <mat-divider></mat-divider>

  <button
    mat-stroked-button
    type="submit"
    color="primary"
    [disabled]="!recipeForm.valid"
    (click)="onSubmit()"
  >
    Erstellen
  </button>
</form>
