.input-number {
  & input[type="number"] {
    /* remove arrows */
    -moz-appearance: textfield;
  }

  /* remove arrows */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
