<mat-form-field class="search-field">
  <mat-label>Name oder Marke suchen ...</mat-label>
  <input
    matInput
    type="text"
    [(ngModel)]="searchBy"
    (ngModelChange)="ingredientsGridControlsService.setSearchBy($event)"
  />
  @if (searchBy) {
  <button
    matSuffix
    mat-icon-button
    aria-label="Clear"
    (click)="searchBy = ''; ingredientsGridControlsService.setSearchBy('')"
  >
    <mat-icon>close</mat-icon>
  </button>
  }
</mat-form-field>

<mat-form-field class="filter-field">
  <mat-label>Einheit filtern</mat-label>
  <mat-select
    [(value)]="filterBy"
    (selectionChange)="ingredientsGridControlsService.setFilterBy($event.value)"
  >
    <mat-option value="all">Alle</mat-option>
    @for (unit of metaData?.choices?.unit; track unit) {
    <mat-option [value]="unit.label">{{ unit.label }}</mat-option>
    }
  </mat-select>
</mat-form-field>
