<form class="form">
  <input
    type="text"
    placeholder="Name oder Marke suchen ..."
    class="search-field"
    [formControl]="searchControl"
    [matAutocomplete]="search"
    (ngModelChange)="ingredientsGridControlsService.setSearchBy($event)"
  />
  <mat-autocomplete #search="matAutocomplete">
    @for (nameOrBrand of filteredNamesAndBrands | async; track nameOrBrand) {
    <mat-option [value]="nameOrBrand">{{ nameOrBrand }}</mat-option>
    }
  </mat-autocomplete>

  <input
    type="text"
  placeholder="Name oder Marke suchen ..."
    class="filter-field"
    [formControl]="filterControl"
    [matAutocomplete]="filter"
    (ngModelChange)="ingredientsGridControlsService.setFilterBy($event)"
  />
  <mat-autocomplete #filter="matAutocomplete">
    @for (unit of filteredUnits | async; track unit) {
    <mat-option [value]="unit">{{ unit }}</mat-option>
    }
  </mat-autocomplete>
</form>
