<app-recipes-grid-controls [recipes]="displayedRecipes" />

<section class="grid" [style.--columns]="displayedColumns()">
  @for(recipe of displayedRecipes(); track recipe.id){
  <app-recipes-grid-element
    [recipe]="recipe"
    (click)="router.navigate(['recipes', recipe.id])"
  />} @empty {
  <p>Keine Rezepte gefunden</p>
  }
</section>

<div class="button-wrapper">
  <mat-icon
    aria-hidden="false"
    aria-label="add icon"
    fontIcon="add"
    class="button"
    (click)="openCreateRecipeDialog()"
  ></mat-icon>
</div>
