<app-ingredients-grid-controls />

<section class="grid">
  <app-ingredients-grid-header [fieldsToDisplay]="fieldsToDisplay" />

  @for (ingredient of displayedIngredients(); track ingredient.id){
  <app-ingredients-grid-row
    [ingredient]="ingredient"
    [fieldsToDisplay]="fieldsToDisplay"
  />
  }@empty {
  <p>Keine Zutaten gefunden</p>
  }
</section>

<div class="button-wrapper">
  <mat-icon
    aria-hidden="false"
    aria-label="add icon"
    fontIcon="add"
    class="button"
    (click)="openCreateIngredientDialog()"
  ></mat-icon>
</div>
