.non-field-errors {
  box-sizing: border-box;

  & .non-field-error {
    background-color: var(--negative-background);
    border: 2px solid var(--negative-color);
    border-radius: 0.5rem;
    padding: 0.25rem 0.5rem;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
  }
}
