.ingredient-field {
  & .field-value {
    --padding-horizontal: 0.5rem;
    --padding-vertical: 0.25rem;
    margin: 0;
    padding: var(--padding-vertical) var(--padding-horizontal);
    background-color: var(--secondary-background);
    border-radius: calc(1rem + 2 * var(--padding-vertical));
  }
}
